<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 
    <servlet>
        <servlet-name>ServletLogar</servlet-name>
        <servlet-class>sistema.servlets.controller.ServletLogar</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>Sair</servlet-name>
        <servlet-class>sistema.servlets.controller.Sair</servlet-class>
    </servlet>
   
   
    <servlet>
        <servlet-name>ListaUsuarios</servlet-name>
        <servlet-class>sistema.servlets.controller.ListaUsuarios</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ExcluirUsuarios</servlet-name>
        <servlet-class>sistema.servlets.controller.ExcluirUsuarios</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>AlteraUsuario</servlet-name>
        <servlet-class>sistema.servlets.controller.AlteraUsuario</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>NovoUsuario</servlet-name>
        <servlet-class>sistema.servlets.controller.NovoUsuario</servlet-class>
    </servlet>
   
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>sistema.servlets.controller.Usuario</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ServletLogar</servlet-name>
        <url-pattern>/ServletLogar</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Logar</servlet-name>
        <servlet-class>sistema.servlets.controller.Logar</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Logar</servlet-name>
        <url-pattern>/Logar</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Sair</servlet-name>
        <url-pattern>/Sair</url-pattern>
    </servlet-mapping>
   
    <servlet-mapping>
        <servlet-name>ListaUsuarios</servlet-name>
        <url-pattern>/ListaUsuarios</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ExcluirUsuarios</servlet-name>
        <url-pattern>/ExcluirUsuarios</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AlteraUsuario</servlet-name>
        <url-pattern>/AlteraUsuario</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>NovoUsuario</servlet-name>
        <url-pattern>/NovoUsuario</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
  
</web-app>
